.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro__title {
  margin: 30px 0;
}

.intro__caption {
  font-size: 20px;
  font-weight: 700;
}
