.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  background-color: #ffb703;
  color: #000000;
}

/* Unique color scheme from coolors:
light aqua #8ecae6
medium aqua 219ebc
dark blue 023047
goldenrod yellow ffb703
sunny orange fb8500
*/
