.projects {
  background-color: #d3d3d3;
  padding: 50px 20px;
  border-radius: 5px;
  margin-top: 50px;
}

.projects__title {
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}

.projects__card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  justify-content: space-evenly;
}
